server:
  port: 8081
  ip: localhost

#Logging
logging:
  level:
    root: info
  file:
    name: logs/resources/resources.log

spring:
  application.name: resource
  datasource:
    url: jdbc:postgresql://${server.ip}:5432/postgres?currentSchema=resources
    username: postgres
    password: postgrespw
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
  properties:
    hibernate:
      default_schema: resources
  flyway:
    url: jdbc:postgresql://${server.ip}:5432/postgres
    user: postgres
    password: postgrespw
    default-schema: resources
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://${server.ip}:28080/realms/i113_realm

eureka:
  client:
    service-url:
      default-zone: http://${server.ip}:8761/eureka


