spring:
  application:
    name: api-resource-service
  profiles:
    active: dev
#    active: prod
  messages:
    always-use-message-format: false
    basename: messages/messages
    encoding: UTF-8
    fallback-to-system-locale: true

#Open-api
springdoc:
  api-docs:
    path: /resources-docs

#Prometheus
management:
  endpoint:
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,loggers
  metrics:
    enable:
      jvm: true

instance:
  status-page-url-path: actuator/info
  health-check-url-path: actuator/health
  instance-id: "${spring.application.name}:${random.uuid}"