name: cerg-action-process
env:
  APPLICATION_NAME : "CERJ"
on: 
  push:
    branches: 
      - master

jobs:
  validating_docker:
    runs-on: self-hosted
    
    steps:
      - name: PrintAppData
        run : |
          echo "Acclication name: ${{ env.APPLICATION_NAME}}"
          
      - name: Checkout
        uses: actions/checkout@v1     

      - name: MavenVersion
        run : |
          cd i113_gateway
          ls -la
          mvn -version         
        


