name: cerg-action-process
env:
  APPLICATION_NAME : "CERG"
on: 
  push:
    branches: 
      - master

jobs:
  CerjDocker:
    runs-on: self-hosted
    
    steps:
      - name: PrintAppData
        run : |
          echo "Application name: ${{ env.APPLICATION_NAME}}"
          
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          clean: 'false'
        
      - name: Maven Eureca clean-build
        run : |
          cd i113_eureka
          mvn clean
          mvn install
          
      - name: Maven Gateway clean-build
        run : |
          cd i113_gateway
          mvn clean
          mvn install

      - name: Maven Resources clean-build
        run : |
          cd i113_resources
          mvn help:active-profiles
          mvn clean
          mvn install

      - name: Docker Eureca update
        run : |
          cd i113_eureka
          bash i113_eureka_update.sh  

      - name: Docker Gateway update
        run : |
          cd i113_gateway
          bash i113_gateway_update.sh               
          
      - name: Docker Resources update
        run : |
          cd i113_resources
          bash i113_resources_update.sh   

      # - name: Docker Compose up
      #   run : |
      #     cd /home/ditar/actions-runner/elli_project_work/
      #     docker compose up --detach        
                 
        


